<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
    <parameter name="baseURI" value="https://api.github.com"/>
    <parameter name="basePath" value="/search/repositories"/>
    https://developer.github.com/v3/search/
    <test name="REST API Tests">
        <classes>
            <class name="test.api.tests.GithubSearchTest">
                <methods>
                    <include name="verifySearchByAuthor"/>                    
                    <include name="verifySearchByRepositoryName"/>
                    <include name="verifySearchByLanguage"/>
                    <include name="verifySearchPagination"/>               
                    <include name="verifySearchSorting"/>
                </methods>
            </class>
        </classes>
    </test>
    <target name="reports">
  <junitreport todir="test-report">
    <fileset dir="test-output">
      <include name="*/*.xml"/>
    </fileset>
    <report format="noframes"  todir="test-report"/>
  </junitreport>
</target>
</suite>

